.productContent #wrapper {
background-color: #F4F0EE;
border-top: 1px solid #ccc;
border-bottom: 1px solid #ccc;
width: 1020px;
height: 275px;
padding-top: 25px;
margin: -150px 0 0 0;
position: absolute;
left: 20%;		/*Abstand links*/
top: 50%;		/*Abstand oben*/
}

.productContent #tabs > div {
width: 700px;
height: 250px;
float: left;
overflow: hidden;
}

.productContent #tabs h3 {
font-size: 30px;
line-height: 20px;
margin: 60px 0 20px 0;
}

.productContent #pager {
width: 700px;
margin: -76px auto 25px auto;
text-align: center;
}

.productContent #pager a {
border: 1px solid transparent;
border-bottom: none;
border-left: none;
border-color: #ccc;
color: #999;
font-size: 20px;
text-decoration: none;		/*Entfernt die Linie unter dem "Link" */
line-height: 30px;			/*Um den Reitertext zu zentrieren, 10px wäre ganz oben am Rand*/
display: inline-block;		/*Fliest in den Text Block ein(sonst abstand*/
height: 30px;
padding: 10px 30px;			/*Der Abstand oben/unten und links/rechts */
}

.productContent #pager a:hover {
color: #666;
}
.productContent #pager a:first-child {
border-left: 1px solid #ccc;
}
.productContent #pager a.selected {
background-color: #F4F0EE;
color: #333;			/*Text Farbe des aktuell ausgewähltrn Reiters*/

}
