/* ---------- main-elements   ---------- */
html {
  margin: 0;
  height: 100%;
}

body {
  background-color: #DDE;
  margin: 0;
  min-height: 100%;
  justify-content: center;
  -o-justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  overflow-y: scroll;
  background-image: linear-gradient(right, #EEE, #DDD 25%, #DDD 75%, #EEE);
  background-image: -o-linear-gradient(right, #EEE, #DDD 25%, #DDD 75%, #EEE);
  background-image: -mozl-linear-gradient(right, #EEE, #DDD 25%, #DDD 75%, #EEE);
  background-image: -webkit-linear-gradient(right, #EEE, #DDD 25%, #DDD 75%, #EEE);
}

p {
  margin: 0;
}

header {
  flex-direction: column;
  -o-flex-direction: column;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  align-items: flex-start;
  -o-align-items: flex-start;
  -moz-align-items: flex-start;
  -webkit-align-items: flex-start;
  flex: 0 0 auto;
  -o-flex: 0 0 auto;
  -moz-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
}

footer {
  padding: 20px 15px;
  min-height: 100px;
  color: rgb(230, 230, 230);
  font-family: Calibri;
  font-size: 13px;
  font-weight: light;
  background-color: #2C2C2C;
  align-items: center;
  -o-align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -o-justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
}

.icon {
  height: 15px;
  width: 15px;
  background-image: url(../img/sprite.png);
  background-size: 15px;
  background-repeat: no-repeat;
  overflow: hidden;
}

.site {
  flex-direction: column;
  -o-flex-direction: column;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  min-width: 1020px;
}

.content {
  width: 978px;
  background-color: #EEE;
  border-left: 1px solid rgb(216, 216, 216);
  border-right: 1px solid rgb(216, 216, 216);
  padding: 20px;
  flex: 1 0 auto;
  -o-flex: 1 0 auto;
  -moz-flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
}

/* ---------- essentials ---------- */
.no-select {
  user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.flex-container {
  display: flex;
  display: -o-flex;
  display: -moz-flex;
  display: -webkit-flex;
}

.invisible {
  display: none;
}

hr.quotationRule {
  border: 0;
  height: 2px;
  margin: 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

hr.quotationRule-middle {
  height: 1px;
}

#mid {
  margin: 0 0 20px 0;
}

/* ---------- styling ---------- */
.header {
  width: 1040px;
  margin: 0 0 0 -10px;
}

.language-switch {
  font-family: Calibri;
  font-weight: light;
  color: #777;
  margin-left: auto;
  padding: 40px;
  cursor: pointer;
  opacity: 0;
  text-decoration: none;
}

.language-switch a:visited {
  font-family: Calibri;
  font-weight: light;
  color: #777;
  text-decoration: none;
}

.language-switch a {
  text-decoration: none;
}

.language-switch .active {
  color: #D2D2D2;
}

.logo-container {
  padding: 0 0 0 20px;
  width: 1020px;
  background-image: linear-gradient(top, rgb(80, 80, 80), rgb(44, 44, 44));
  background-image: -o-linear-gradient(top, rgb(80, 80, 80), rgb(44, 44, 44));
  background-image: -moz-linear-gradient(top, rgb(80, 80, 80), rgb(44, 44, 44));
  background-image: -webkit-linear-gradient(top, rgb(80, 80, 80), rgb(44, 44, 44));
  border-bottom: 2px solid rgb(230, 20, 25);
}

.logo {
  height: 100px;
  cursor: pointer;
  align-items: center;
  -o-align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
}

.logo p {
  font-size: 70px;
  line-height: 70px;
  color: #EEE;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 200;
  margin-right: 10px;
  text-shadow: rgba(0, 0, 0, 1) 1px 1px 5px;
}

.navbar {
  width: 100%;
  height: 36px;
  background-color: #2C2C2C;
  color: #FFF;
  font-family: 'Wire One', sans-serif;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  flex-direction: row;
  -o-flex-direction: row;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  flex: 1 0 auto;
  -o-flex: 1 0 auto;
  -moz-flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  z-index: 100;
  box-shadow: 0 2px 7px -2px #2C2C2C;
  -o-box-shadow: 0 2px 7px -2px #2C2C2C;
  -moz-box-shadow: 0 2px 7px -2px #2C2C2C;
  -webkit-box-shadow: 0 2px 7px -2px #2C2C2C;
}

#fixed-navbar {
    z-index: 9999;
    position: fixed;
    left: auto;
    top: 0;
    width: 1040px;
    box-shadow: 0 0 7px 1px #2C2C2C;
    -o-box-shadow: 0 0 7px 1px #2C2C2C;
    -moz-box-shadow: 0 0 7px 1px #2C2C2C;
    -webkit-box-shadow: 0 0 7px 1px #2C2C2C;
}

.navbar > .item {
  height: 100%;
  align-items: center;
  -o-align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  flex: 1 0 0;
  -o-flex: 1 0 0;
  -moz-flex: 1 0 0;
  -webkit-flex: 1 0 0;
  justify-content: center;
  -o-justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: space-around;
}

.navbar > .item:hover {
  background-color: rgb(100, 100, 100);
}

.navbar .selected {
  background-color: #545454;
  overflow: hidden;
  background-image: linear-gradient(right, rgb(44, 44, 44), rgba(230, 20, 25, 0.4), rgb(44, 44, 44));
  background-image: -o-linear-gradient(right, rgb(44, 44, 44), rgba(230, 20, 25, 0.4), rgb(44, 44, 44));
  background-image: -moz-linear-gradient(right, rgb(44, 44, 44), rgba(230, 20, 25, 0.4), rgb(44, 44, 44));
  background-image: -webkit-linear-gradient(right, rgb(44, 44, 44), rgba(230, 20, 25, 0.4), rgb(44, 44, 44));
}

footer {
  align-items: center;
  -o-align-items: center;
  -moz-align-items: center;
  -webkit-align-items: flex-start;
  width: 1010px;
  margin: 0 0 0 -10px;
  box-shadow: 0 -2px 7px -2px #2C2C2C;
  -o-box-shadow: 0 -2px 7px -2px #2C2C2C;
  -moz-box-shadow: 0 -2px 7px -2px #2C2C2C;
  -webkit-box-shadow: 0 -2px 7px -2px #2C2C2C;
}

footer > .item {
  flex-direction: column;
  -o-flex-direction: column;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  width: 200px;
  justify-content: flex-start;
  -o-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -webkit-justify-content: flex-start;
}

footer > .item > .item {
  padding: 0 10px;
  align-items: center;
  -o-align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  min-height: 30px;
}

footer > .item:first-child > .item {
  border-bottom: 1px solid #3C3C3C;
  cursor: pointer;
}

footer > .item:first-child > .item > .icon {
  margin-left: auto;
  margin-right: 0;
  background-position: 0 -45px;
  opacity: 0;
}

footer > .item:first-child > .item:hover {
  background-color: #3C3C3C;
}

footer > .item:last-child > .item > .icon {
  height: 20px;
  width: 20px;
  margin: 0 10px 0 10px;
  background-size: 20px;
}

footer > .item:last-child > .item:first-child > .icon {
  background-position: 0 -80px;
}

footer > .item:last-child > .item:nth-child(2) > .icon {
  background-position: 0 -100px;
}

footer > .item:last-child > .item:nth-child(3) > .icon {
  background-position: 0 -120px;
}

footer a {
  color: #E6E6E6;
  text-decoration: none;
}

footer a:hover, footer #adress:hover {
  cursor: pointer;
  color: rgb(230, 20, 25);
}

#fixed-footer {
  position: fixed;
  bottom: -144px;
}
#fixed-footer > .item {
  opacity: 0;
}

.companyContent, .impressumContent {
  font-size: 16px;
  font-family: Calibri, sans-serif;
  font-weight: light;
  margin: 50px 75px 75px 100px;
}

/* ---------- startPage ----------- */
.productContent, .startContent {
  font-size: 16px;
  font-family: Calibri, sans-serif;
  font-weight: light;
  margin: 20px 75px 75px 75px;
}

.heading {
  position: relative;
  color: #444;
  width: 1028px;
  margin: 0 0 60px -100px;
  background-color: #CCC;
  justify-content: center;
  -o-justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  overflow: hidden;
  box-shadow: 0 2px 7px -2px #2C2C2C;
  -o-box-shadow: 0 2px 7px -2px #2C2C2C;
  -moz-box-shadow: 0 2px 7px -2px #2C2C2C;
  -webkit-box-shadow: 0 2px 7px -2px #2C2C2C;
  background-image: linear-gradient(right, #AAA, #CCC 35%, #CCC 65%, #AAA);
  background-image: -o-linear-gradient(right, #AAA, #CCC 35%, #CCC 65%, #AAA);
  background-image: -moz-linear-gradient(right, #AAA, #CCC 35%, #CCC 65%, #AAA);
  background-image: -webkit-linear-gradient(right, #AAA, #CCC 35%, #CCC 65%, #AAA);
}

.heading h1 {
  text-shadow: rgba(44, 44, 44, 0.5) 1px 1px 5px;
}

.fancy {
  width: 200px;
  height: 2px;
  position: absolute;
  top: 46px;
  background-image: linear-gradient(top, rgba(230, 20, 25, 0), rgba(230, 20, 25, 1), rgba(230, 20, 25, 0));
  background-image: -o-linear-gradient(top, rgba(230, 20, 25, 0), rgba(230, 20, 25, 1), rgba(230, 20, 25, 0));
  background-image: -moz-linear-gradient(top, rgba(230, 20, 25, 0), rgba(230, 20, 25, 1), rgba(230, 20, 25, 0));
  background-image: -webkit-linear-gradient(top, rgba(230, 20, 25, 0), rgba(230, 20, 25, 1), rgba(230, 20, 25, 0));
}

.fancy-before {
  left: 150px;
}

.fancy-after {
  right: 150px;
}

.agent {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
}

.quotations {
  background-color: #DDD;
  width: 828px;
  margin-left: -95px;
  flex-direction: column;
  -o-flex-direction: column;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  padding: 30px 95px 0 95px;
  flex: 0 0 0;
  -webkit-flex: 0 0 0;
  box-shadow: inset 0 0 7px -2px #2C2C2C;
  -o-box-shadow: inset 0 0 7px -2px #2C2C2C;
  -moz-box-shadow: inset 0 0 7px -2px #2C2C2C;
  -webkit-box-shadow: inset 0 0 7px -2px #2C2C2C;
}

.quotation {
  width: 707px;
  padding: 0 60px;
  justify-content: flex-end;
  -o-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -webkit-justify-content: flex-end;
  align-items: center;
  -o-align-items: center;
  -moz-align-items: center;
  -webkitalign-items: center;
}

.quotation.drDre {
  justify-content: flex-start;
  -o-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -webkit-justify-content: flex-start;
}

.quotation p {
  width: 300px;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 15px;
  margin: 0 60px;
}

#billPictureContainer, #drePictureContainer, #jonyPictureContainer {
  height: 218px;
  overflow: hidden;
}

#billPicture, #drePicture, #jonyPicture {
  height: 218px;
}

.drDre {
  text-align: right;
}

/* ---------- company page ---------- */
.portrait-container {
  justify-content: center;
  -o-justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
}

.history-container {
  border-top: 1px solid #D2D2D2;
  border-right: 1px solid #D2D2D2;
  border-left: 1px solid #D2D2D2;
  padding: 0 12px 40px 12px;
  background-color: #FFF;
}

.portrait-container > .item {
  flex: 1 0 0;
  -o-flex: 1 0 0;
  -moz-flex: 1 0 0;
  -webkit-flex: 1 0 0;
}

.portrait {
  flex-direction: column;
  -o-flex-direction: column;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
}

.portrait > .item:last-child {
  padding: 12px;
  border-right: 1px solid #D2D2D2;
  border-bottom: 1px solid #D2D2D2;
  height: 480px;
}

.portrait:first-child > .item:last-child {
  border-left: 1px solid #D2D2D2;
}

#vitzthum, #hennemann, #reyinger {
  width: 268px;
}

.portrait:nth-child(1) {
  background-color: rgba(255, 255, 255, 0.8);
}

.portrait:nth-child(2) {
  background-color: rgba(255, 255, 255, 0.5);
}

.portrait:nth-child(3) {
  background-color: rgba(255, 255, 255, 0.8);
}
/* ---------- product page ---------- */
.productContent {
  height: 517px;
}

.tabs {
  font: arial;
}

/* ----------- tabs ----------- */
.pager {
  z-index: 500;
  width: 600px;
  height: 30px;
  margin: 0 auto;
  flex-direction: row;
  -o-flex-direction: row;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
}

.pager .headerTab {
  z-index: 500;
  color: rgb(44, 44, 44);
  cursor: pointer;
  background-color: #CCC;
  flex: 1 0 0;
  -o-flex: 1 0 0;
  -moz-flex: 1 0 0;
  -webkit-flex: 1 0 0;
  border-top: 1px solid #888;
  border-right: 1px solid #888;
  border-bottom: 1px solid #888;
  font-family: Calibri;
  height: 20px;
  text-align: center;
  line-height: 20px;
  padding: 5px;
}

.pager .headerTab:first-child {
  border-left: 1px solid #888;
  border-radius: 3px 0 0 3px;
}

.pager .headerTab:last-child {
  border-radius: 0 3px 3px 0;
}

.headerTab.selected {
  background-color: #FFF;
  box-shadow: inset 0 0 7px 0 #CCC;
  -o-box-shadow: inset 0 0 7px 0 #CCC;
  -moz-box-shadow: inset 0 0 7px 0 #CCC;
  -webkit-box-shadow: inset 0 0 7px 0 #CCC;
}

.tabs-container {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: -15px;
  width: 828px;
  height: 500px;
  overflow: hidden;
  background-color: #FFF;
}

.tabs {
  width: 2487px;
  height: 500px;
}

.tab {
  overflow: scroll;
  width: 800px;
  padding: 30px;
}

.functionsInner {
  padding: 0 75px;
  text-align: justify;
}
