#dataTab table {
  width: 689px;
  padding-left: 80px;
  border-bottom: 1px solid rgba(230, 20, 25, 0.2);
}

#dataTab tr {
  width: 689px;
}

#dataTab th {
  width: 345px;
  font-weight: 800;
  text-align: justify;
}

#dataTab td {
  width: 345px;
  padding-bottom: 20px;
}

#dataTab headline {
  font-size: 20pt;
}
